#kh{
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(kh.png  );
  
} 

#square{
  background-color: black;
  position: absolute;
  clip-path: polygon(31% 53%, 43% 53%, 43% 62%, 31% 62%);
  width: 100%;
  height: 100%;
  
}
