*::before,
*,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}


html {
    box-sizing: border-box;
}


.body {
    min-height: 100vh;
}


.box {
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
}


.box>* {
    flex-basis: 250px;
    flex-shrink: 0;
}


.een {
    background-color: rgb(253, 127, 253);
    border: 1px solid black;
    flex-grow: 1111;
}


.twee {
    background-color: rgb(253, 127, 253);
    border: 1px solid black;
    flex-grow: 1;
}


.drie {
    background-color: rgb(253, 127, 253);
    border: 1px solid black;
    flex-grow: 1;
}


.vier {

    flex-grow: 1;
    background-color: rgb(253, 127, 253);
    border: 1px solid black;
}


.foto {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: gainsboro;
}


img {
    padding: 10px;
    margin: 1px;
    width: 200px;
}


.footer {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: rgb(253, 127, 253);
}


@media all and (max-width:800px) {
    .een {
        flex-grow: 1;
    }
}

