*::before,
*,
*::after {

    padding: 0;
    margin: 0;
    box-sizing: inherit;
}


html {
    box-sizing: border-box;
}


.body {
    min-height: 100vh;
}



.flex-container {
    text-align: end;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 900px;
    height: 400px;
    border: 2px solid black;

}


.flex__child {
    display: flex;
    border: 1px solid green;
    flex-basis: 10rem;
    font-family: 'Courier New', Courier, monospace;
    /* flex-wrap: wrap; */
}




#yellow {
    background-color: yellow;
}



#red {
    background-color: red;
}



#blue {
    background-color: blue;
}



#purple {
    background-color: purple;
}