.h6 {
color: darkgreen;
font-size: 50px;
font-family: 'Courier New', Courier, monospace;
}

.h1 {
font-size: 19px;
color: red;
font-family: 'Courier New', Courier, monospace;
}

.tekst {
color: blue;
font-family: 'Courier New', Courier, monospace;
}

.links {
font-size: 30px;
color: blue;
font-family: 'Courier New', Courier, monospace;
}

.h3 {
font-size: 20px;
color: rgb(17, 107, 55);
font-family: 'Courier New', Courier, monospace;
}

.Tiger {
font-size: 100px;
color: rgb(17, 107, 55);
font-family: 'Courier New', Courier, monospace;  
}