body{
	margin:0px;
}
.navigationbar{
	display:grid;
	grid-template-columns: repeat(3, 1fr);
}
.navigationbar div{
	height:45px;
}
.bgblue{
	background-color:blue;
}
.bgred{
	background-color:red;
}
.bggreen{
	background-color:green;
}
.w-100{
	grid-column: 1 / -1;
}
@media only screen and (max-width: 1160px) {
	.navigationbar{
		grid-template-columns: repeat(2, 1fr);
	}
}
@media only screen and (max-width: 600px) {
	.navigationbar{
		grid-template-columns: repeat(1, 1fr);
	}
}