
#one{
	width: 33%;
	height: 33%;
	background-color: yellow;
	float: left;
}

#two{
	width: 33%;
	height: 33%;
	background-color: red;
	float: left;
}

#three{
	width: 33%;
	height: 33%;
	background-color: blue;
	float: left;
}



#four{
	width: 33%;
	height: 33%;
	background-color: green;
	float: left;
}

#five{
	width: 33%;
	height: 33%;
	background-color: white;
	float: left;
}

#six{
	width: 33%;
	height: 33%;
	background-color: purple;
	float: left;
}



#seven{
	width: 33%;
	height: 33%;
	background-color: grey;
	float: left;
}

#eight{
	width: 33%;
	height: 33%;
	background-color: pink;
	float: left;
}

#nine{
	width: 33%;
	height: 33%;
	background-color: orange;
	float: left;
}

h1{
    font-size: 25px;  
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
    
}
