h1{
    font-size: 30px;
    color: purple;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    text-decoration: underline;
}
h2{
    font-size: 30px;
    color: green;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    
}
